luminosity 35900
output     output.root
style      cms

/home/scratch/kmpark/Z_newOrder_VBF/SingleMuon_Run2016.root Data.root

/home/scratch/kmpark/Z_newOrder_VBF/QCD_HT50to100_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root QCD.root 246700000 1.0 bg 
/home/scratch/kmpark/Z_newOrder_VBF/QCD_HT100to200_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root QCD.root 27990000 1.0 bg 
/home/scratch/kmpark/Z_newOrder_VBF/QCD_HT200to300_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root QCD.root 1712000 1.0 bg 
/home/scratch/kmpark/Z_newOrder_VBF/QCD_HT300to500_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root QCD.root 347700 1.0 bg 
/home/scratch/kmpark/Z_newOrder_VBF/QCD_HT500to700_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root QCD.root 32100 1.0 bg 
/home/scratch/kmpark/Z_newOrder_VBF/QCD_HT700to1000_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root QCD.root 6831 1.0 bg 
/home/scratch/kmpark/Z_newOrder_VBF/QCD_HT1000to1500_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root QCD.root 1207 1.0 bg 
/home/scratch/kmpark/Z_newOrder_VBF/QCD_HT1500to2000_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root QCD.root 119.9 1.0 bg 
/home/scratch/kmpark/Z_newOrder_VBF/QCD_HT2000toInf_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root QCD.root 25.24 1.0 bg 

/home/scratch/kmpark/Z_newOrder_VBF/WW_TuneCUETP8M1_13TeV-pythia8.root Diboson.root 118.7  1.0 bg
/home/scratch/kmpark/Z_newOrder_VBF/WZ_TuneCUETP8M1_13TeV-pythia8.root Diboson.root 47.13  1.0 bg
/home/scratch/kmpark/Z_newOrder_VBF/ZZ_TuneCUETP8M1_13TeV-pythia8.root Diboson.root 16.523  1.0 bg

/home/scratch/kmpark/Z_newOrder_VBF/DYJetsToLL_M-50_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root DYJetsToLL.root 5765.4 1.0 bg
# /home/scratch/kmpark/Z_newOrder_VBF/DYJetsToLL_M-50_HT-70to100_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root DYJetsToLL.root 175.3 1.0 bg
/home/scratch/kmpark/Z_newOrder_VBF/DYJetsToLL_M-50_HT-100to200_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root DYJetsToLL.root 147.4 1.0 bg
/home/scratch/kmpark/Z_newOrder_VBF/DYJetsToLL_M-50_HT-200to400_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root DYJetsToLL.root 40.99 1.0 bg
/home/scratch/kmpark/Z_newOrder_VBF/DYJetsToLL_M-50_HT-400to600_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root DYJetsToLL.root 5.678 1.0 bg
/home/scratch/kmpark/Z_newOrder_VBF/DYJetsToLL_M-50_HT-600to800_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root DYJetsToLL.root 1.363 1.0 bg
/home/scratch/kmpark/Z_newOrder_VBF/DYJetsToLL_M-50_HT-800to1200_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root DYJetsToLL.root 0.6759 1.0 bg
/home/scratch/kmpark/Z_newOrder_VBF/DYJetsToLL_M-50_HT-1200to2500_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root DYJetsToLL.root 0.116 1.0 bg
/home/scratch/kmpark/Z_newOrder_VBF/DYJetsToLL_M-50_HT-2500toInf_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root DYJetsToLL.root 0.002592 1.0 bg

/home/scratch/kmpark/Z_newOrder_VBF/EWKZ2Jets_ZToLL_M-50_13TeV-madgraph-pythia8.root DYJetsToLL.root 3.998 1.0 bg

/home/scratch/kmpark/Z_newOrder_VBF/ST_t-channel_antitop_4f_inclusiveDecays_13TeV_PSweights-powhegV2-madspin.root SingleTop.root 80.95 1.0 bg
/home/scratch/kmpark/Z_newOrder_VBF/ST_t-channel_top_4f_inclusiveDecays_13TeV_PSweights-powhegV2-madspin.root SingleTop.root 136.02 1.0 bg
/home/scratch/kmpark/Z_newOrder_VBF/ST_tW_antitop_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root SingleTop.root 35.85 1.0 bg
/home/scratch/kmpark/Z_newOrder_VBF/ST_tW_top_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root SingleTop.root 35.85 1.0 bg

/home/scratch/kmpark/Z_newOrder_VBF/TT_TuneCUETP8M2T4_13TeV-powheg-pythia8.root TTbar.root 831.76 1.0 bg

/home/scratch/kmpark/Z_newOrder_VBF/WJetsToLNu_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root  WJetsToLNu.root 61526.7 1.0 bg
# /home/scratch/kmpark/Z_newOrder_VBF/WJetsToLNu_HT-70To100_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root WJetsToLNu.root 1319 1.0 bg
/home/scratch/kmpark/Z_newOrder_VBF/WJetsToLNu_HT-100To200_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root WJetsToLNu.root 1345 1.0 bg
/home/scratch/kmpark/Z_newOrder_VBF/WJetsToLNu_HT-200To400_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root WJetsToLNu.root 359.7 1.0 bg
/home/scratch/kmpark/Z_newOrder_VBF/WJetsToLNu_HT-400To600_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root WJetsToLNu.root 48.91 1.0 bg
/home/scratch/kmpark/Z_newOrder_VBF/WJetsToLNu_HT-600To800_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root WJetsToLNu.root 12.05 1.0 bg
/home/scratch/kmpark/Z_newOrder_VBF/WJetsToLNu_HT-800To1200_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root WJetsToLNu.root 5.501 1.0 bg
/home/scratch/kmpark/Z_newOrder_VBF/WJetsToLNu_HT-1200To2500_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root WJetsToLNu.root 1.329 1.0 bg
/home/scratch/kmpark/Z_newOrder_VBF/WJetsToLNu_HT-2500ToInf_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root WJetsToLNu.root 0.03216 1.0 bg

/home/scratch/kmpark/Z_newOrder_VBF/EWKWMinus2Jets_WToLNu_M-50_13TeV-madgraph-pythia8.root WJetsToLNu.root 20.35 1.0 bg
/home/scratch/kmpark/Z_newOrder_VBF/EWKWPlus2Jets_WToLNu_M-50_13TeV-madgraph-pythia8.root WJetsToLNu.root 25.81 1.0 bg
